<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeExtensions</key>
			<array>
				<string>loan</string>
			</array>
			<key>CFBundleTypeIconFile</key>
			<string>dollar.icns</string>
			<key>CFBundleTypeName</key>
			<string>LoanDocument</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSHandlerRank</key>
			<string>Owner</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.clozure.ftype.loan</string>
			</array>
			<key>NSDocumentClass</key>
			<string>LoanAppDoc</string>
			<key>NSExportableTypes</key>
			<array>
				<string>com.clozure.ftype.loan</string>
			</array>
		</dict>
	</array>
	<key>CFBundleExecutable</key>
	<string>loans</string>
	<key>CFBundleIconFile</key>
	<string>dollar.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.clozure.apps.loans</string>
	<key>CFBundleName</key>
	<string>Loans</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>loan</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CLMainFunc</key>
	<string>loans::init-loan-app</string>
	<key>LSMinimumSystemVersion</key>
	<string>10.7</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
	<key>UTExportedTypeDeclarations</key>
	<array>
		<dict>
			<key>UTTypeConformsTo</key>
			<array>
				<string>public.data</string>
				<string>public.content</string>
			</array>
			<key>UTTypeDescription</key>
			<string>LoanDocument</string>
			<key>UTTypeIdentifier</key>
			<string>com.clozure.ftype.loan</string>
			<key>UTTypeTagSpecification</key>
			<dict>
				<key>public.filename-extension</key>
				<array>
					<string>loan</string>
				</array>
			</dict>
		</dict>
	</array>
</dict>
</plist>
