<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLMainFunc</key>
	<string>ad::make-dev-app</string>
	<key>CFBundleSignature</key>
	<string>LsAp</string>
	<key>CLProvidedClasses</key>
	<array>
		<string>LispAppDoc</string>
	</array>
	<key>CFBundlePackageType</key>
	<string>BNDL</string>
	<key>CFBundleName</key>
	<string>lispdoc</string>
	<key>CFBundleIdentifier</key>
	<string>com.clozure.apps.lispdoc</string>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDocumentTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeName</key>
			<string>Lisp Application</string>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>LSItemContentTypes</key>
			<array>
				<string>com.clozure.lapp</string>
			</array>
			<key>LSHandlerRank</key>
			<string>Default</string>
		</dict>
	</array>
</dict>
</plist>
