<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>DialogTest</string>
	<key>CFBundleIconFile</key>
	<string>lambda red.icns</string>
	<key>CFBundleIdentifier</key>
	<string>com.agentsheets.agentcubes.DialogTest</string>
	<key>CFBundleName</key>
	<string>DialogTest</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleSignature</key>
	<string>????</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CLMainFunc</key>
	<string>dtst::init-dialog-test</string>
	<key>NSPrincipalClass</key>
	<string>NSApplication</string>
</dict>
</plist>
