<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleExecutable</key>
	<string>ogl</string>
	<key>CFBundleIdentifier</key>
	<string>com.clozure.apps.logl</string>
	<key>CFBundleName</key>
	<string>OpenGL Demo</string>
	<key>CFBundleSignature</key>
	<string>LOGL</string>
	<key>CFBundleVersion</key>
	<string>1.0</string>
	<key>CLMainFunc</key>
	<string></string>
	<key>LSMinimumSystemVersion</key>
	<string>10.7</string>
	<key>NSPrincipalClass</key>
	<string>LispApplication</string>
</dict>
</plist>
